@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");

* {
box-sizing: border-box;
}

b {
	color: #0090c5;
	text-decoration: underline;
    padding: 30px;
}

b:hover {
	text-decoration: none;
}

*:focus {
	outline: none;
}
body {
font-family: Arial;
background-image: url("images/bglogin.jpg");
background-size: cover;
padding: 50px;
}
.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: left;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 10px;
width: 250px;
transition: border .5s;
}

select {
text-align: left;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 10px;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #ac474e;
box-shadow: none;
}
select:focus {
border: 2px solid #ac474e;
box-shadow: none;
}
.btn {
    text-align:center;
  border: 2px solid transparent;
  background: #ac474e;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #c9636a;
}

.login-link {
  font-size: 12px;
  color: #ac474e;
  display: block;
  margin-top: 12px;
}
