#listado-mascotas {
    display: flex;
    margin: 4em 0;
}

.caja-mascota{
	height: 20em;
    margin: 0 2em;
    width: 15em;
    -webkit-box-shadow: -1px 0px 3px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 0px 3px 1px rgba(0,0,0,0.75);
	box-shadow: -1px 0px 3px 1px rgba(0,0,0,0.75);
}

.mascota-info{
	background-color: #fff;
	height: 30%;
}

.mascota-info > h3{
	margin: 0;
}

.mascota-imagen{
	 width: 100%;
	 height: 70%;
	 border-bottom:1px solid #000;
}





	#infomascota-wrapper{
		display:flex;
		margin: 6em 10em;
	}

	#cajaiz{
		margin-right: 5em;
	}
	#cajade{

	}

	#cajaimagen{
		border: 2px solid #000;
	    border-radius: 3px;
	    height: 250px;
	    width: 200px;
	    margin-bottom: 10px;
	}
	#cajadatos{
		margin-top: 10px;
	}
	#cajasobremi{
		background: #e8e8e8 none repeat scroll 0 0;
	    border-radius: 5px;
	    height: 8em;
	    width: 40em;
	}
	#cajadueno{
		
	}