#listado-actividad {
    display: inline-table;
    margin: 4em 0;
}

.caja-actividad{
	height: 17em;
    margin: 0 2em;
    width: 15em;
    border-style: solid;
    border-width: 2px;
    border-color: #E6E6E6;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);

}

.actividad-info{
	background-color: #fff;
  margin-left: -2px;
	height: 30%;
  width: 15em;
  border-style: solid;
  border-width: 2px;
  border-color: #E6E6E6;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.actividad-info > h3{
	margin: 0;
}

.actividad-actividad{
	 width: 100%;
	 height: 70%;
	 border-bottom:1px solid #000;
}

#listado-actividad > a {
    color: #000;
    display: inline-block;
    margin: 2em 0;
}



	#infoactividad-wrapper{
		display:flex;
		margin: 6em 10em;
	}

	#cajaiz{
		margin-right: 5em;
	}
	#cajade{

	}

	#cajaimagen{
		border: 1px solid #000;
	    border-radius: 3px;
	    height: 250px;
	    width: 200px;
	    margin-bottom: 10px;
	}
	#cajadatos{
		margin-top: 10px;
	}
	#cajasobremi{
		background: #e8e8e8 none repeat scroll 0 0;
	    border-radius: 5px;
	    height: 8em;
	    padding: 15px;
	    width: 40em;
	}
	#cajadueno{

	}
