#listado-mascotas {
    display: inline-table;
    margin: 4em 0;
}

.caja-mascota{
	height: 20em;
    margin: 0 2em;
    width: 15em;

}

.container{
	background-color: #fff;
	margin:2em;
}

.mascota-info{
	background-color: #fff;
	height: 30%;
}

.mascota-info > h3{
	margin: 0;
}

.mascota-imagen{
	 width: 100%;
	 height: 70%;
	 border-bottom:1px solid #000;
}

#listado-mascotas > a {
    color: #000;
    display: inline-block;
    margin: 2em 0;
}



	#infomascota-wrapper{
		display:flex;
		margin: 3em 10em;
	}

	#cajaiz{
		margin-right: 5em;
		border: 1px solid;
	}
	#cajade{

	}

	#cajaimagen{
	    border-radius: 3px;
	    height: 250px;
	    width: 300px;
	    margin-bottom: 10px;
	}
	#cajadatos{
		margin-top: 10px;
		margin-left: 11px;
	}
	#cajasobremi{
		background: #e8e8e8 none repeat scroll 0 0;
	    border-radius: 5px;
	    height: 8em;
	    padding: 15px;
	    width: 40em;
	}
	#cajadueno button{
	    background: #ac474e none repeat scroll 0 0;
	    color: #fff;
	    height: 55px;
	    margin: 12px 0;
	    width: auto;
	    display:ruby;
	}
	#perfil > img {
	    float: left;
	}

	#perfil > p {
	    margin-top: 3%;
	}

	#mimascota > button{
		margin-right:10px;
	}