div > button{
	    background: #ac474e none repeat scroll 0 0;
	    color: #fff;
	    height: 55px;
	    margin: 20px 0;
	    width: auto;
	    display:ruby;
	}

#caja-miperfil > button {
    margin-right: 10px;
}

.mismascotas{
    height: 20em;
    margin: 0 2em;
    width: 15em;
}

.imagen-mascota{
    border-bottom: 1px solid #000;
    height: 70%;
    width: 100%;
}

#add{

    padding: 0 135px;
}

.row > a{
	padding-left:10px;
	margin-top: 12px;
	color: #000;
}